!-------------------------------------------
! XFT Settings gre
     
Xft.antialias:  true 
Xft.autohint:   false 
Xft.dpi:        96
Xft.hinting:    true 
Xft.hintstyle:  hintfull 
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb


!-------------------------------------------
! URXVT - Settings

URxvt*depth:                        32
URxvt*internalBorder:               3
URxvt*dynamicColors:                on
URxvt*urgentOnBell:                 true
URxvt*borderLess:                   false
URxvt*scrollBar:                    false
URxvt*cursorBlink:                  true
URxvt*cursorUnderline:              true
URxvt*cursorColor:                  #737077
URxvt*scrollColor:                  #151515
URxvt*underlineURLs:                true

!URxvt.transparent:   true
!URxvt.shading:       20

! with tamsyn
!URxvt*letterSpace:                  0.3 

! Disable perl
!URxvt.perl-ext:                 
!URxvt.perl-ext-common: 

URxvt.font: xft:Hack:pixelsize=12
URxvt.boldFont: xft:Hack:style=Bold:pixelsize=12
!URxvt*font: :-*-dina-medium-r-*-*-*-90-*-*-*-*-*-*
!URxvt*italic: :-*-dina-medium-*-*-*-*-90-*-*-*-*-*-*
!URxvt*boldFont: :-*-dina-bold-r-*-*-*-90-*-*-*-*-*-*
!URxvt*font: -*-marathonmod-*-*-*-*-14-*-*-*-*-*-*-*
!Urxvt*font: -*-tewii-*-*-*-*-*-*-*-*-*-*-*-*
!URxvt*font: -*-marathon-medium-*-*-*-*-*-*-*-*-*-*-*
!URxvt*boldFont: -*-marathon-bold-*-*-*-*-*-*-*-*-*-*-*
!URxvt*boldFont: -*-marathon-*-*-*-*-*-*-*-*-*-*-*-*
!URxvt*boldFont: xft:Tamsyn:style=Bold:pixelsize=16
URxvt*iconFile: /usr/share/icons/Numix-Circle-Light/48/apps/terminal.svg


!Clickable links
URxvt.perl-ext-common: default,matcher,selection-to-clipboard
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
!URxvt.perl-ext-common: selection-to-clipboard

*.foreground:   #ffeefc
*.background:   #141021
*.cursorColor:  #c16772

! black
*.color0:       #4f4858
*.color8:       #545d67

! red
*.color1:       #c05c47
*.color9:       #c16772

! green
*.color2:       #428e8e
*.color10:      #afda6e

! yellow
*.color3:       #e4b226
*.color11:      #ebcf1a

! blue
*.color4:       #4457a3
*.color12:      #4880a5

! magenta
*.color5:       #903a62
*.color13:      #9568a1

! cyan
*.color6:       #7aa1dc
*.color14:      #abbcda

! white
*.color7:       #c4b7c5
*.color15:      #ffeefc



! ROFI SETUP HERE !

! Enable the extended coloring options
rofi.color-enabled: true
!                  bg       border   separator
rofi.color-window: #1E272B, #9D6A47, #9D6A47
!                  bg       fg       bg-alt   hl-bg    hl-fg
rofi.color-normal: #1E272B, #EAD49B, #1E272B, #1E272B, #78824B
rofi.color-active: #1E272B, #EAD49B, #1E272B, #1E272B, #78824B
rofi.color-urgent: #1E272B, #EAD49B, #1E272B, #1E272B, #78824B

rofi.separator-style: solid
rofi.sidebar-mode: false
rofi.lines: 5
rofi.font: Hack Regular 12
rofi.bw: 1
rofi.columns: 2
rofi.padding: 5
rofi.fixed-num-lines: true
rofi.hide-scrollbar: true



!-------------------------------------------
! Man pages colors

*VT100.colorBDMode:                  true
*VT100.colorBD:                      red
*VT100.colorULMode:                  true
*VT100.colorUL:                      cyan   
*VT100.veryBoldColors:               6

!-------------------------------------------
! xclock

xclock*majorColor:                  #9a875f
xclock*minorColor:                  #9a875f
xclock*minuteColor:                 #9a875f
xclock*hourColor:                   #9a875f
xclock*secondColor:                 #9a875f


