!-------------------------------------------
! XFT Settings gre
     
Xft.antialias:  true 
Xft.autohint:   false 
Xft.dpi:        96
Xft.hinting:    true 
Xft.hintstyle:  hintfull 
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb


!-------------------------------------------
! URXVT - Settings

URxvt*depth:                        32
URxvt*internalBorder:               3
URxvt*dynamicColors:                on
URxvt*urgentOnBell:                 true
URxvt*borderLess:                   false
URxvt*scrollBar:                    false
URxvt*cursorBlink:                  true
URxvt*cursorUnderline:              true
URxvt*cursorColor:                  #737077
URxvt*scrollColor:                  #151515
URxvt*underlineURLs:                true

!URxvt.transparent:   true
!URxvt.shading:       20

! with tamsyn
!URxvt*letterSpace:                  0.3 

! Disable perl
!URxvt.perl-ext:                 
!URxvt.perl-ext-common: 

URxvt.font: xft:Hack:pixelsize=12
URxvt.boldFont: xft:Hack:style=Bold:pixelsize=12
URxvt*font: :-*-dina-medium-r-*-*-*-90-*-*-*-*-*-*
URxvt*italic: :-*-dina-medium-*-*-*-*-90-*-*-*-*-*-*
URxvt*boldFont: :-*-dina-bold-r-*-*-*-90-*-*-*-*-*-*
!URxvt*font: -*-marathonmod-*-*-*-*-14-*-*-*-*-*-*-*
!Urxvt*font: -*-tewii-*-*-*-*-*-*-*-*-*-*-*-*
!URxvt*font: -*-marathon-medium-*-*-*-*-*-*-*-*-*-*-*
!URxvt*boldFont: -*-marathon-bold-*-*-*-*-*-*-*-*-*-*-*
!URxvt*boldFont: -*-marathon-*-*-*-*-*-*-*-*-*-*-*-*
!URxvt*boldFont: xft:Tamsyn:style=Bold:pixelsize=16
URxvt*iconFile: /usr/share/icons/Numix-Circle-Light/48/apps/terminal.svg


!Clickable links
!URxvt.perl-ext-common: default,matcher
!URxvt.url-launcher: /usr/bin/xdg-open
!URxvt.matcher.button: 1
URxvt.perl-ext-common: selection-to-clipboard


!*background:            #272827
!*foreground:            #657b83
!*fading:                15
!*fadeColor:             black
*cursorColor:           #16A085
*pointerColorBackground:#2B2C2B
*pointerColorForeground:#16A085

URxvt.internalBorder: 6

*foreground: #EAD49B
*background: #1E272B
*cursor: #EAD49B
*color0: #1E272B
*color1: #685742
*color2: #9D6A47
*color3: #B36D43
*color4: #78824B
*color5: #D99F57
*color6: #C9A554
*color7: #EAD49B
*color9: #685742
*color10: #9D6A47
*color11: #B36D43
*color12: #78824B
*color13: #D99F57
*color14: #C9A554
*color15: #EAD49B
*color8: #666666

! ROFI SETUP HERE !

! Enable the extended coloring options
rofi.color-enabled: true
!                  bg       border   separator
rofi.color-window: #1E272B, #9D6A47, #9D6A47
!                  bg       fg       bg-alt   hl-bg    hl-fg
rofi.color-normal: #1E272B, #EAD49B, #1E272B, #1E272B, #78824B
rofi.color-active: #1E272B, #EAD49B, #1E272B, #1E272B, #78824B
rofi.color-urgent: #1E272B, #EAD49B, #1E272B, #1E272B, #78824B

rofi.separator-style: solid
rofi.sidebar-mode: false
rofi.lines: 5
rofi.font: Hack Regular 12
rofi.bw: 1
rofi.columns: 2
rofi.padding: 5
rofi.fixed-num-lines: true
rofi.hide-scrollbar: true



!-------------------------------------------
! Man pages colors

*VT100.colorBDMode:                  true
*VT100.colorBD:                      red
*VT100.colorULMode:                  true
*VT100.colorUL:                      cyan   
*VT100.veryBoldColors:               6

!-------------------------------------------
! xclock

xclock*majorColor:                  #9a875f
xclock*minorColor:                  #9a875f
xclock*minuteColor:                 #9a875f
xclock*hourColor:                   #9a875f
xclock*secondColor:                 #9a875f


